<div class="container-fluid">
	<div class="row">
        <div class="col-md-6">
            <img class="logo" src="../../assets/teams_logo.png">
            <div class="wording">
                <div class="static-txt">Let's</div> 
                <div class="css-typing">
                <p class="dynamic-txts">Meet</p>
                <p class="dynamic-txts extra">Greet</p>
                <p class="dynamic-txts extra">and Connect</p>
                </div>
            </div>
            <div class="caption">
                We'll get you connected where ever you are.<br>
                <button class="btn" (click)="login()">Sign In</button>
            </div>
        </div>
		<div class="col-md-6" >
			<img class="welcome-image" src="../../assets/landing.jpg">
            <a href='https://www.freepik.com/vectors/people'>People vector created by freepik - www.freepik.com</a>-->

		</div>
	</div>
</div>
<!--<a href='https://www.freepik.com/vectors/people'>People vector created by freepik - www.freepik.com</a>-->

