.content{
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #303030;
}
.copy{
  position: absolute;
  top:15px;
  right:370px;
}
.logo{
  height:80px;
  padding: 10px;
  margin-left: 8px;
  margin-bottom: 5px;
}
.brand{
  color: black;
  font-size: 36px;
  margin-left: -15px;
}
.attachment{
  margin: 5px;
  cursor: pointer;
}
.btn{
  background-color:#303030;
}
.entry-btn{
  position: relative;
  top:10%;
  //width: 50%;
}
.entry-form{
  position: relative;
  top:20%
}
.entry-form-field{
  width:300px !important;
  color: #fff;
}
.sign-out{
  position: absolute;
  right:35px;
  top:13px
}
.entry{
  position: fixed;
  height: 100%;
  width: 105%;
  padding: 5%;
  background-color: #303030;
  justify-content: center;
}
.send-field{
  position: fixed;
  bottom: 0;
  background-color: #424242;
  width: 380px;
}
.chat-sidenav{
  margin:5px 3px;
  width:380px;
  box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%), 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%);
  border-radius: 10px;
  background-color: #303030;
}
.controls{
  position: absolute;
  cursor: pointer;
  right: 133px;
  margin:30px;
  margin-top: 50px;
}
.heroicons{
  position: absolute;
  cursor: pointer;
  margin-top: 16px;
  right:12px !important;
}
.presenterScreen{
  position: relative;
  font-size:50px;
  margin-top: 45%!important;
}
.action-icons{
 height: 30px;
 width: 30px;
 font-size: 30px;
 margin:30px 10px;
}
.icon{
  margin-bottom:-30px !important;
}
.box {
  width: 500px;
}
.videocall>* {
    flex: 0 0 50%;
}
.videocall{
  //width: 75%;
  display: flex;
  flex-wrap: wrap;
  align-content: center!important;
  justify-content: center!important;
}
.screen{
  width: 75%;
}
.route{
  position: absolute;
  text-decoration: none;
  color: white;
  top:15px;
  font-weight: 400;
  right:200px;
  cursor: pointer;
  &:hover{
      color: black;
  }
}
#preview-window{
  height: 60%;
  width: 50%;
  box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%), 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%);
  background: #424242;
  color: #fff;
  padding: 4%;
}
#preview{
  position: fixed;
  background-color: #303030;
  color: #fff;
  height: 100%;
  width: 100%;
  top:0%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.join-settings{
  margin: 0 11%;
}
.altImage{
  background-color:#424242;
  color: #fff;
  text-align: center;
  height: 100%;
  width: 100%;
}
.screentoggle{
  position: absolute;
  top:15px;
  left:45%;
}
.participant-title{
  position: relative;
  height: 5%;
  top:0;
  padding: 25px 30px 5px 30px;
  font-size:24px;
}
#participant-inner{
  padding: 10px 30px;
}

.device-title{
  position: relative;
  padding: 25px 30px 5px 30px;
  font-size:24px;
}
ul {
  list-style-type: none;
  display:flex;
  align-items: center;
}
.join{
  height: 50px;
  width:150px;
}
#previewvideo{
height: 50%;
aspect-ratio: 16/9;
}
.center{
  position: absolute;
  top:40%
}
.joinbtn{
  color: white;
  background-color: rgb(63, 175, 48);
  border-radius: 5px;
  margin-top: 2%;
  margin-bottom:4%
}
input{
  width:18vw;
}
label{
  margin-bottom:5px;
}
.pass{
  margin-top: 10px;
}
.startbtn{
  color: white;
  background-color: rgb(168, 57, 135);
  border-radius: 5px;
  margin-top: 2%;
  margin-bottom:4%
}
.fixing{
  bottom: 0!important;
  position: fixed;
  background-color: white;
  width: 25%;
}
.chat-history{
  margin-bottom: 100px;
  // overflow: scroll;
}
::ng-deep{
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
}
.image{
  height:100%;
  width:100%;
  margin-top:-10%;
  padding-bottom: 10%;
}
.btn-t1{
  margin:5%
}
.chat{
  // width: 25%;
  margin-bottom: 50px;
  background-color: #303030;
  overflow: hidden;
  bottom: 0;
}
.inner-chat{
  overflow: hidden;
}
// ::ng-deep .mat-drawer-inner-container{
//   overflow: hidden !important;
// }
@media screen and (max-width:768px){
  .videocall{
   // width: 70%;
  }
}
//
body{margin-top:20px;}

.chat-online {
    color: #34ce57
}

.chat-offline {
    color: #e4606d
}

.chat-messages {
    display: flex;
    flex-direction: column;
    max-height: 800px;
    overflow-y: scroll
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0
}

.chat-message-left {
    margin-right: auto
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto
}
.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}
.flex-grow-0 {
    flex-grow: 0!important;
}
.border-top {
    border-top: 1px solid #dee2e6!important;
}